@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(22, 15, 29);
}

.container {
    padding: 0px 100px;
    height: 1200px;
}

.header-container {
    color: white;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-icon a {
    color: rgba(191, 206, 104, 0.945);
    font-size: 30px;
    font-weight: bold;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-items {
    display: flex;
}

.nav-item {
    margin-left: 40px;
    font-size: 18px;
}

.nav-item a {
    color: white;
}

.nav-item a:hover {
    color: rgba(255, 255, 255, 0.712)
}

main {
    display: flex;
}

.list-product {
    color: white;
    display: flex;
    margin-bottom: 50px;
}

.list-product img {
    width: 400px;
    border-radius: 10px;
}

.product-info {
    margin-left: 40px;
    width: 300px;
}

.product-info h2 {
    font-weight: normal;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.product-info h1 {
    font-weight: normal;
    font-size: 28px;
    color: rgb(189, 247, 242);
    margin-bottom: 20px;
}

.product-info h3 {
    font-weight: normal;
    margin-bottom: 8px;
}

.product-info button {
    margin: 20px 20px;
}

.btn {
    padding: 7px 10px;
}

.btn-secondary {
    background-color: rgb(100, 3, 138);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.order-summary {
    color: white;
}

.sub-container {
    display: flex;
    flex-direction: column;
}

.order-summary {
    padding: 30px 20px;
    border-radius: 10px;
    margin-left: 50px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgb(65, 57, 95);
    height: 250px;
}

.order-summary h1 {
    /* font-weight: normal; */
    color:  rgba(191, 206, 104, 0.945);
}